<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">
     <welcome-file-list>
     <welcome-file>index.html</welcome-file>
     <welcome-file>index.htm</welcome-file>
   <welcome-file>/WebContent/index.html</welcome-file>
   </welcome-file-list>  
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>defaultpackage.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Welcomes</servlet-name>
        <servlet-class>defaultpackage.Welcomes</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Welcomes</servlet-name>
        <url-pattern>/Welcomes</url-pattern>
    </servlet-mapping>
    
</web-app>